<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CfgDotNet" version="1.2.0" targetFramework="net452" />
  <package id="Command-R" version="0.2.2-beta" targetFramework="net452" />
  <package id="Command-R.WebApi" version="0.2.2-beta" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="MediatR" version="2.0.0-beta-005" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="SimpleInjector" version="2.8.3" targetFramework="net452" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="2.8.3" targetFramework="net452" />
  <package id="SimpleInjector.Integration.WebApi" version="2.8.3" targetFramework="net452" />
</packages>